body {
  margin: 0;
  padding: 0;
}

* {
  border-radius: 10px;
  height: auto;
}

header {
  background-image: url('images/budgetSiteBackground.png');
  background-size: cover;
  background-repeat: no-repeat;
  border-bottom: black solid 1px;
  margin: 0 auto;
  height: 250px;
  border-radius: 0 0 10px 10px;
}

header h2 {
  text-align: right;
  font-size: 60px;
  color: white;
  padding: 100px 50px 50px 250px;
}

main {
  padding: 10px 0px 30px 5px;
}

div {
  background-color: white;
  margin: 5px;
}

div.blackShadow {
  width: 98%;
  background-color: grey;
  box-shadow: 10px 10px black;
  margin-bottom: 20px;
}

div.budgetCard {
  display: grid;
  grid-gap: 20px;
  background-color: #eeeeee;
  box-shadow: 10px 10px grey;
  margin-right: 15px;
}

div.budgetTitle {
  display: grid;
  grid-template-columns: auto 400px;
  height: fit-content;
  padding: 10px;
  border: darkslategray solid 1px;
}

/* User Section */

div.incomeCard, div.spendingCard {
  display: grid;
  overflow: hidden;
}

div.incomeCard .usersCard{
  display: flex;
  background-color: black;
  padding: 10px 10px 30px 10px;
  overflow-x: scroll;
}

div.userCard {
  background-color: #888888;
  border: black solid 1px;
  width: 90%;
}

div.debtCard {
  display: grid;
  grid-template-rows: auto 30px;
}

div.debtCard .innerDebtCard{
  display: grid;
  background-color: #888888;
  border: black solid 1px;
  padding: 10px 10px 30px 10px;
  width: auto;
}

div.expenseCard {
  display: grid;
  grid-template-rows: auto 30px;
}

div.expenseCard .innerExpenseCard{
  display: grid;
  background-color: #888888;
  border: black solid 1px;
  padding: 10px 10px 30px 10px;
  width: auto;
}

/* Modal Stuff */
.hidden {
  display:none;
  height: 0;
}

.container {
  padding: 1rem;
  width: stretch;
  display: none;
  background: #515DA2;
  opacity: .8;
}

.add-user-form {
  width: 80%
}

.submit {
  position: relative;
  background-color: #e04b52;
  border-radius: 5px;
  height: 2rem;
  width: max-content;
  color: whitesmoke;
  font-size: 18px;
  justify-self: center;
  font-family: monospace;
  margin: 3px;
}

.submit:hover {
  background-color: whitesmoke;
  border: #e04b52 solid 1px;
  color: #e04b52;
}


.input-text {
  border-radius: 5px;
  height: 2rem;
  width: 60%;
  font-size: 18px;
  font-family: monospace;
  margin: 3px;
}

p {
  font-size: 1.5em;
  color: black;
  font-family: Helvetica;
}

li {
  font-size: 1.05em;
  list-style: none;
  padding-right: 20px;
}

button {
  font-size: 20px;
  color: #fff;
  background-color: green;
}

/* @media only screen and (min-width: 400px) {
  main {
    grid-template-columns: 1fr;
  }
}

@media only screen and (min-width: 700px) {
  main {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (min-width: 1000px) {
  main {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media only screen and (min-width: 1300px) {
  main {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
} */